*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-list{
    display: flex;
    flex-direction: row;
}
.menu-list li{
    list-style: none;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: red;
}
.site-header{
    display: flex;
    flex-direction: row;    
    height: 97px;
    background-color: wheat;
}
.logo-link{
    padding-left: 100px;
}
.main-menu{
    position: relative;
    width: 100%;
}
.menu-list{
    position: absolute;
    bottom: 15px;
    right: 30px;
}